/*
  ##      ##  #######  ######## ####
  ##  ##  ## ##     ## ##        ##
  ##  ##  ## ##     ## ##        ##
  ##  ##  ## ##     ## ######    ##
  ##  ##  ## ##     ## ##        ##
  ##  ##  ## ##     ## ##        ##
   ###  ###   #######  ##       ####
*/

 window {
margin: 5px;
border-radius: 5px;
border: 2px solid #0e4d47;
background-color: #F77F00;
}


#input {
font-family: Hack;
font-size: 16px;
color: #ffffff;
margin: 5px;
border-radius: 5px;
border: 2px solid #006184;
background-color: #190018;
}

#inner-box {
margin: 5px;
border-radius: 5px;
border: 2px solid #1AFFD5;
background-color: #190018;
opacity: 0.9;
}

#outer-box {
margin: 5px;
border-radius: 5px;
border: 2px solid #006184;
background-color: #006184;
}

#scroll {
margin: 5px;
border-radius: 5px;
border: 2px solid #F77F00;
background-color: #0e4d47;
}

#text {
font-family: Hack;
font-size: 18px;
margin: 5px;
border-radius: 5px;
border: 2px solid transparent;
background-color: transparent;
}

#entry {
color: #ffffff;
}

#entry:selected {
border-radius: 5px;
background-color: #A4036F;
}


