/*
  ##      ##  #######  ######## ####
  ##  ##  ## ##     ## ##        ##
  ##  ##  ## ##     ## ##        ##
  ##  ##  ## ##     ## ######    ##
  ##  ##  ## ##     ## ##        ##
  ##  ##  ## ##     ## ##        ##
   ###  ###   #######  ##       ####
*/

 window {
margin: 5px;
border-radius: 5px;
border: 2px solid #0e4d47;
background-color: #23b9ab;
}


#input {
font: Hack;
font-size: 16;
color: #ffffff
margin: 5px;
border-radius: 5px;
border: 2px solid #006184;
background-color: #190018;
}

#inner-box {
margin: 5px;
border-radius: 5px;
border: 2px solid #23b9ab;
background-color: #190018;
opacity: 0.9
}

#outer-box {
margin: 5px;
border-radius: 5px;
border: 2px solid #006184;
background-color: #006184;
}

#scroll {
margin: 5px;
border-radius: 5px;
border: 2px solid #23b9ab;
background-color: #0e4d47;
}

#text {
font: Hack;
font-size: 18;
margin: 5px;
border-radius: 5px;
border: 2px solid transparent;
background-color: transparent;
}

#entry {
color: #ffffff
}

#entry:selected {
border-radius: 5px;
background-color: #A4036F;
}


